.address {
  font-style: normal;
}
.address p {
  width: -moz-fit-content;
  width: fit-content;
}
.address p:first-child {
  border-bottom: 1px solid #000;
}
.address p:nth-child(2) {
  border-bottom: 1px solid #000;
}

.header {
  font-family: "Raleway";
  font-size: 18px;
  font-weight: normal;
  padding: 92px 49px 92px 51px;
  display: flex;
  align-items: center;
}
.header__links-list {
  display: flex;
  gap: 25px;
}
.header__links-list-item {
  list-style: circle;
}
.header__links-list-item_no-bullit {
  list-style: none;
}
.header__link_active {
  text-decoration: none;
}
.header__logo {
  margin: 0 auto;
  width: 148px;
  height: 105px;
}
.header__logo-image {
  height: auto;
}
.cover {
  height: 757px;
  background: url("../images/cover.jpg");
  background-size: cover;
  color: #fff;
}
.cover__title {
  padding: 165px 50px 147px 50px;
  font-family: "Raleway";
  font-size: 100px;
  font-weight: bold;
  text-transform: uppercase;
}
.cover__description {
  margin: 0 50px 50px 422px;
  display: flex;
  align-items: center;
}
.cover__description-text {
  font-family: "Raleway";
  font-size: 22px;
  font-weight: normal;
  word-spacing: 28px;
  text-transform: uppercase;
  margin-right: auto;
}

.overlay {
  height: inherit;
  background-color: rgba(0, 0, 0, 0.6);
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.no-letter-spacing {
  letter-spacing: 30px;
}
.no-letter-spacing::first-letter {
  letter-spacing: 0;
  margin-right: 60px;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}
.letter-spacing-extended span {
  letter-spacing: 0;
  margin-left: 30px;
}

.bet-button {
  font-family: "Raleway";
  font-size: 22px;
  font-weight: normal;
  text-transform: uppercase;
  background: none;
  border: 1px solid #fff;
  border-radius: 0;
  color: #fff;
  padding: 12px 32px;
}