.address {
  margin-top: 6px;
  margin-right: 3px;
  display: flex;
  gap: 2.5px;
  flex-direction: column;
  font-style: normal;
}
.address a {
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
}
.address a:first-child {
  border-bottom: 1px solid #000;
}
.address a:nth-child(2) {
  border-bottom: 1px solid #000;
}
.address p {
  line-height: 24.3px;
}

.header {
  font-family: "Raleway";
  font-size: 18px;
  font-weight: normal;
  padding: 92px 49px 96px 51px;
  display: flex;
  justify-content: center;
}
.header__link {
  text-decoration: none;
  border-bottom: 1px solid #000;
}
.header__links-list {
  margin-top: 44px;
  display: flex;
  gap: 32px;
}
.header__links-list-item {
  border-bottom: #000;
  list-style: circle;
}
.header__links-list-item_no-bullit {
  list-style: none;
}
.header__link_active {
  text-decoration: none;
}
.header__logo {
  margin: 0 auto 0 207px;
  width: 152px;
  height: 105px;
}
.header__logo-image {
  height: inherit;
}

.cover {
  height: 756px;
  background: url("../images/cover.jpg");
  background-position: center;
  background-size: cover;
  color: #fff;
}
.cover__title {
  display: flex;
  flex-direction: column;
  padding: 165px 50px 145px 50px;
  font-family: "Raleway";
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
}
.cover__description {
  margin: 0 50px 50px 422px;
  display: flex;
  align-items: center;
}
.cover__description-text {
  font-family: "Raleway";
  font-size: 22px;
  font-weight: 400;
  word-spacing: 17px;
  text-transform: uppercase;
  margin-right: auto;
}
.cover__description-text span {
  margin-left: 6px;
}

.overlay {
  height: inherit;
  background-color: rgba(0, 0, 0, 0.6);
}

.aligned-text_center {
  width: 1280px;
  margin: 10px 0 20px 0;
  text-align: center;
}
.aligned-text_right {
  text-align: right;
}

.no-letter-spacing {
  height: 100px;
  letter-spacing: 30px;
  margin-right: -30px;
}
.no-letter-spacing::first-letter {
  letter-spacing: 0;
  margin-right: 60px;
}

.letter-spacing-extended {
  height: 100px;
  letter-spacing: 30px;
}
.letter-spacing-extended:first-child {
  height: 115px;
}
.letter-spacing-extended span {
  letter-spacing: 0;
  margin-left: 30px;
}

.bet-button {
  font-family: "Raleway";
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  background: none;
  border: 1px solid #fff;
  border-radius: 0;
  color: #fff;
  padding: 12px 32px;
}

.lots {
  padding: 180px 50px;
}
.lots__heading {
  font-family: "Raleway";
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 27px;
}
.lots__card-list {
  display: flex;
  gap: 25px;
  list-style: none;
  margin-bottom: 30px;
}
.lots__card-list-item {
  width: 430px;
  height: 450px;
}
.lots__look-more-link {
  text-decoration: none;
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 400;
  border-bottom: 1px solid #000;
}

.card {
  height: 100%;
  color: #fff;
}
.card_type_film {
  background: url(../images/card-lot-01.jpg) center/cover;
}
.card_type_book {
  background: url(../images/card-lot-02.jpg) center/cover;
}
.card_type_picture {
  background: url(../images/card-lot-03.jpg) center/cover;
}
.card-link {
  text-decoration: none;
}
.card .overlay {
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card__title {
  font-family: "Raleway";
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
}
.card__text {
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 400;
}